/* html, body {
  overflow-x: hidden;
  overflow-y: auto;
} */
@font-face {
    font-family: 'Blackpast';
    src: url('/fonts/Blackpast.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: "Poppins",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    box-sizing: border-box;
    transition: all 0.35s linear;
    overflow-y: hidden;
}

title{
    font-family: 'Blackpast';
}


.docker-card{
    --color : #0abfba !important;
    --border-size:1rem;
    --bg-color : #252525;
    position: relative;
    background-color: #201d1da8;
  
    border-radius: var(--border-size);
    color: white;
    display: grid;
    place-content: center;
    padding: 2.5rem 1.5rem;
    isolation: isolate;
    overflow: hidden;   
    backdrop-filter: blur(1px);
    box-shadow: rgba(2, 99, 126, 0.5) 0px 10px 20px -8px;
}

.docker-card::before,.docker-card::after{
    content: "";
    position: absolute;
}

.docker-card::before{
    width: 200%;
    height: 200%;
    background-image: conic-gradient(var(--color) 0deg,
    transparent 60deg,
    transparent 180deg,
    var(--color) 180deg,
    transparent 240deg);

    inset: -50%;
    z-index: -2;
    animation: border  8s linear infinite;
}

.docker-card:hover::before{
    animation-play-state: paused;
}

@keyframes border {
    to{
        transform: rotateZ(-360deg);
    }
}


.docker-card::after{
    --inset: 0.25rem;
    background-color: #111;
    inset: var(--inset);
    border-radius: calc(
        var(--border-size) - var(--inset));
    z-index: -1;
    transition: all 0.35s linear;
}


.docker-card:hover::after{
    background-color: var(--bg-color);
}

/* .logo{
    font-size: 6rem;
    margin-inline: auto;
    /* -webkit-text-stroke: thin var(--color); 
    color: var(--color);
} */

.docker-card:hover .logo{
    -webkit-text-stroke-width: 0;
}

.docker-card .title{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-block: 0.5rem 1rem;
    color : var(--color);
}

.docker-card .detail {
    line-height: 1.5rem;
    text-align: center;
    opacity: 0.75;
}
































/* body{
    background-color: rgb(20, 19, 19);
    padding: 0px 50px;
} */

/* .container{
    padding: 50px 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

/* .parent{
    height: 400px;
    width: 400px;
    padding: 20px; 
    perspective: 1000px;
}

.docker-card{
    padding-top:80px;
    transform-style: preserve-3d;
    /* background-image: url("vibrant-night-sky-with-stars-nebula-galaxy_146671-19208.jpg"); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("vibrant-night-sky-with-stars-nebula-galaxy_146671-19208.jpg"); 
    
        background: linear-gradient(to bottom, #62cff4, #2c67f2);
    
    border-color: rgba(3, 96, 124, 0.925);
    border: 5px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    backdrop-filter: none;
    border: 2px solid #4eb8f5;

    
}

.docker-card:hover{
    background-position: 80% 20%;
    transform: rotate3d(0.5,1,0,15deg);
   
}

@keyframes blink {
    0%{
        box-shadow: rgba(3, 96, 124, 0.925) 0px 20px 50px -20px;
    }
    25%{
        box-shadow: rgba(3, 96, 124, 0.925) 0px 30px 50px -20px;
    }
    50%{
        box-shadow: rgba(3, 96, 124, 0.925) 0px 40px 50px -20px;
    }
    75%{
        box-shadow: rgba(3, 96, 124, 0.925) 0px 30px 50px -20px;
        
    }
    100%{
        box-shadow: rgba(3, 96, 124, 0.925) 0px 20px 50px -20px;

    }
}

.content-box{
      height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     border-radius: 0px 0px 5px 5px;
     /* box-shadow: rgba(3, 96, 124, 0.925) 0px 35px 50px -20px; 
     animation: blink 5s ease-in infinite;
     transition: all 0.5s ease-in-out;
     padding: 5px 25px 25px 25px;
     transform-style: preserve-3d;

}

.docker-card-title{
    color: white;
     font-size: 25px;
     font-weight: 900;
     padding-top: 50px;
     transition: all 0.5s ease-in-out;
     transform: translate3d(0px,0px,20px);
}

.docker-card-title:hover{
    transform: translate3d(0px,0px,50px);
}

.docker-card-content{
    padding-top: 15px;
    font-size: 12px;
    color: rgb(185,185,185);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px,0px,20px);
}

.docker-card-content:hover{
    transform: translate3d(0px,0px,50px);
}

.see-more{
    display: block;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(0,136,255);
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px,0px,20px);
}

.see-more:hover{
    transform: translate3d(0px,0px,50px);
}

.date-box{
    position: absolute;
    top: 50px;
    left: 25px;
    height: 70px;
    width: 100px;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgb(0, 195, 255, 0.925) 2px 2px 20px 0px;
    transform: translate3d(0px,0px,50px);
}


.date-box span {
    display: block;
    text-align: center;
}

.date-box .month{
    color:white;
    font-size: 18px;
    font-weight: 700;
}

.date-box .date{
    font-size: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.docker-card1{
    filter: hue-rotate(150deg);
} */

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
  }
  
  .animate-flicker {
    animation: flicker 1s infinite alternate;
  }


  