html, body {
  overflow-x: hidden;
  overflow-y: auto;
}


@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
  }
  
  .animate-flicker {
    animation: flicker 1s infinite alternate;
  }
  