html, body {
    margin: 0;
    padding: 0;
   
   overflow-y: auto;
   overflow-x: hidden !important;
  scroll-behavior: smooth;
  }
/* WebKit (Chrome, Safari, Edge) */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0abfba;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #111;
}

/* Firefox */
/* * {
  scrollbar-color: #0abfba #111;
  scrollbar-width: 1px;
} */ 

